.header{
    height: 100px;
    background-color: white;
    border-top: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}
.container{
}
.footer{
    height: 100px;
    background-color: white;
    border-top: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}
.collapsible {
    box-shadow: 0px;
    background: #484038!important;
}
.button-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: white;
    padding: 0px;
  }
.button {
    margin: 10px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 20px;
    font-size-adjust: initial;
    vertical-align: middle;
    text-align: center;
    color: white;
    font-family: 'Press Start 2P', cursive;
    text-shadow: 3px 3px #807870;
  }
.button:hover {
    height: 40px;
    /*border: 4px solid black ; */
    background-color: #4CAF50!important; /* Green */
}
.pressed {
    background-color: red!important;
}
.button#normal {
    background-color: #a8a878;
    box-shadow: 4px 4px #705848
}
.button#fight {
    background-color: #c03028;
    box-shadow: 4px 4px #484038
}
.button#flying{
    background-color: #a890f0;
    box-shadow: 4px 4px #705898
}
.button#poison{
    background-color: #a040a0;
    box-shadow: 4px 4px #483850
}
.button#ground{
    background-color: #e0c068;
    box-shadow: 4px 4px #886830
}
.button#rock{
    background-color: #b8a038;
    box-shadow: 4px 4px #886830
}
.button#bug{
    background-color: #a8b820;
    box-shadow: 4px 4px #789010
}
.button#ghost{
    background-color: #705898;
    box-shadow: 4px 4px #483850
}
.button#steel{
    background-color: #b8b8d0;
    box-shadow: 4px 4px #807870
}
.button#fire{
    background-color: #f08030;
    box-shadow: 4px 4px #c03028
}
.button#water{
    background-color: #6890f0;
    box-shadow: 4px 4px #807870
}
.button#grass{
    background-color: #78c850;
    box-shadow: 4px 4px #588040
}
.button#electric{
    background-color: #f8d030;
    box-shadow: 4px 4px #b8a038
}
.button#psychic{
    background-color: #f85888;
    box-shadow: 4px 4px #906060
}
.button#ice{
    background-color: #98d8d8;
    box-shadow: 4px 4px #9090a0
}
.button#dragon{
    background-color: #7038f8;
    box-shadow: 4px 4px #483890
}
.button#dark{
    background-color: #705848;
    box-shadow: 4px 4px #484038
}